@charset "UTF-8";

.table5 {
  border-collapse: collapse;
  width: 250px;
}
.table5 th, .table5 td {
  text-align: center;
}

.answer{
	background-color:grey;
	width:200px;
}

.quiz_img {
	background-color: black; vertical-align : top;
	width: auto;
	height: 220px;
	margin-left: 20px;
	position: relative;
	vertical-align: top;
}