@charset "UTF-8";
h1{
	font-size:48px;
}

.canvas-container {
    position: relative;
    width:  calc(100% - 40px);
    overflow: hidden;
    margin:20px;
}

.parent{
	width:600px;
	overflow: hidden;
	background-color:#fffafa;
}
.child{
	float: left;
}
.child_bar{
	background-color:#fffafa;
	width:600px;
}